				@font-face {
					font-family: 'oddlini';
					src: url('759Oddlini.woff2') format('woff2'),
						url('759Oddlini.woff') format('woff');
					  font-display: auto;
				}

				.oddlini{font-family: 'oddlini' !important;}

						h1, h2, .site-title, strong, b{
					font-family: 'oddlini' !important;
				}
		